body {
	background-color: #DFCCFB;
}
.mainContainer{
	display: flex;
	flex-direction: column;
	align-items: center;

}
.iconContainer{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-content: space-evenly;
	justify-content: center;
	flex-direction: row;
}
.linkContainer{
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
}
#avi{
	width: 100%;
	border-radius: 100%;
	border: 3px solid white;
}

.link{
	display: flex;
	background-color: black;
	border-radius: 500px;
	margin-top: 1%;
	color: white;
	align-items: center;
	justify-content: center;
	font-size: 1.4rem;
}

.iconContainer a{
	margin: 1%;
}

@media only screen and (max-width: 600px) {
	.aviContainer {
		max-width: 200px;	
	}
	.link{
		height: 30px;
		width: 200px;
	}
	.iconContainer img{
		width: 35px;
	}
}
@media only screen and (min-width: 600px) {
	.aviContainer {
		max-width: 325px;	
	}
	.link {
		height: 40px;
		width: 325px;	
	}
	.iconContainer img{
		width: 55px;
	}
}
@media only screen and (min-width: 768px) {
	.aviContainer {
		max-width: 500px;	
	}
	.link {
		height: 50px;
		width: 500px;	
	}
	.iconContainer img{
		width: 60px;
	}
}
@media only screen and (min-width: 1200px) {
	.aviContainer {
		max-width: 675px;	
	}
	.link {
		height: 70px;
		width: 675px;	
	}
	.iconContainer img{
		width: 70px;
	}
}